body {
    font-family: 'Arial', sans-serif;
}

.card {
    margin-bottom: 20px;
}

#a1{
    height: 600px;
    width: 1000px;
    border: solid;
    color:black;
    background-color: yellow;
}

#a2{
    height: 700px;
    width: 1000px;
    border: solid;
    color:black;
    background-color: green;
}

#a3{
    height: 600px;
    width: 1000px;
    border: solid;
    color:black;
    background-color: rgb(255, 0, 0);
}
